@import "vue3-colorpicker/style.css";

$prefix-cls: "color-picker";

.#{$prefix-cls} {
    flex-basis: 300px;
    width: 300px;
    box-shadow: 0 0 10px #00000026;
    @apply bg-gray-3131 py-3;
    // 覆盖插件的样式
    .vc-colorpicker {
        width: 100%;
        padding-bottom: 0;
        box-shadow: none;
        @apply bg-gray-3131;
        .vc-chrome-colorPicker,
        .vc-chrome-colorPicker-body {
            @apply bg-gray-3131;
        }
        .vc-colorpicker--container {
            padding: 12px 12px 0 12px;
            .vc-chrome-colorPicker {
                .vc-saturation {
                    border-radius: 0 !important;
                    height: 200px;
                    .vc-saturation__cursor > div {
                        @apply w-3 h-3;
                    }
                }
                .vc-chrome-colorPicker-body {
                    .chrome-color-wrap,
                    .vc-display {
                        display: none;
                    }
                    .chrome-sliders {
                        margin-left: 0px;
                        .vc-hue-slider,
                        .vc-alpha-slider {
                            @apply h-3 #{!important};
                            @apply mb-3;
                            .vc-hue-slider__bar-handle,
                            .vc-alpha-slider__bar-handle {
                                width: 10px !important;
                                height: 14px !important;
                                background-color: transparent;
                                border: 1px solid #fff;
                                border-radius: 2px !important;
                                margin-top: 1px !important;
                            }
                        }
                        .vc-hue-slider {
                            .vc-hue-slider__bar {
                                border-radius: 2px;
                                background: linear-gradient(
                                    90deg,
                                    red 0,
                                    #ff0 17%,
                                    #0f0 33%,
                                    #0ff 50%,
                                    #00f 67%,
                                    #f0f 83%,
                                    red
                                );
                            }
                        }
                        .vc-alpha-slider {
                            border-radius: 3px;
                            .vc-alpha-slider__bar {
                                border-radius: 2px;
                                .vc-alpha-slider__bar-handle {
                                    transform: translate(-5px, -2px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
